<div class="Product__Tabs">

    {% include 'split' %}

    <div class="Collapsible Collapsible--large">
        <button aria-expanded="false" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible">
            <span>How to Use:</span>
            <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
            <div class="Collapsible__Content">
                <div class="Rte">
                    {{ desc[2] }}
                </div>
            </div>
        </div>
    </div>

    <div class="Collapsible Collapsible--large">
        <button aria-expanded="false" class="Collapsible__Button Heading u-h6" data-action="toggle-collapsible">
            <span>Ingredients:</span>
            <span class="Collapsible__Plus"></span>
        </button>

        <div class="Collapsible__Inner">
            <div class="Collapsible__Content">
                <div class="Rte">
                    {{ desc[3] }}
                </div>
            </div>
        </div>

    </div>

</div>