{% assign sprReviews = product.metafields.spr.reviews %}
    <h1 class="text-center">Show Some PDA</h1>
    <h3 class="text-center">Customer Reviews</h3>
{% comment %} <div id="shopify-product-reviews" data-id="{{product.id}}">{{ sprReviews }}</div> {% endcomment %}