<section>
    <div id="section-cta">
        <button id="checkout-custom-button" class="button">{{ section.settings.linktext }}</button>
    </div>
</section>
{% schema %}
  {
    "name": "Checkout Button",
    "settings": [
        {
            "id": "linktext",
            "type": "text",
            "label": "Checkout Button text",
            "default": "CHECKOUT"
        },
        {
            "type": "color",
            "id": "btnBgColor",
            "label": {
              "en": "Button Background Color"
            },
            "default": "#0097ce"
        },
        {
            "type": "color",
            "id": "btnTextColor",
            "label": {
              "en": "Button Text Color"
            },
            "default": "#fff"
        }
    ]
  }
{% endschema %}

<style>
    #checkout-custom-button {
        text-align:center;
        padding: 10px 20px;
        color: {{ section.settings.btnTextColor }};
        background-color: {{section.settings.btnBgColor}};
        border: 1px solid {{section.settings.btnTextColor}};
        font-weight: 600;
        font-size: 1.3em;
        width: 250px;
    }

    #section-cta {
        text-align:center; 
    }
</style>

{% javascript %}
{% endjavascript %}