<section>
    <div id="section-cta">
        <button id="cta-custom-button" class="button">{{ section.settings.linktext }}</button>
    </div>
</section>
{% schema %}
  {
    "name": "STEP 2 - ALL Products Btn",
    "settings": [
        {
            "id": "linktext",
            "type": "text",
            "label": "Button text",
            "default": "VIEW ALL PRODUCTS"
        },
        {
            "type": "color",
            "id": "btnBgColor",
            "label": {
              "en": "Button Background Color"
            },
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "btnTextColor",
            "label": {
              "en": "Button Text Color"
            },
            "default": "#0097ce"
        }
    ]
  }
{% endschema %}

<style>
    #cta-custom-button {
        text-align:center;
        padding: 10px 20px;
        color: {{ section.settings.btnTextColor }};
        background-color: {{section.settings.btnBgColor}};
        border: 1px solid {{section.settings.btnTextColor}};
        font-weight: 600;
    }

    #section-cta {
        text-align:center; 
    }
</style>

{% javascript %}
{% endjavascript %}