<div class="Modal Modal--show-product-info" id="product-info-dialog" aria-hidden="true" role="dialog" data-scrollable>
    <button aria-expanded="false" class="customModalCloseBtn Modal__Close Modal__Close--outside Round-button-color RoundButton RoundButton--small" data-animate-bottom
            data-action="close-modal">
            {% include 'icon' with 'close' %}
    </button>      
    <div class="Modal__Content">
        <div id="product-info-data" class="product-info-data-wrapper"> 
        </div>
    </div>
</div>

{% stylesheet %}
        #shopify-section-modal #product-info-dialog {
            overflow: hidden !important;
        }

        #product-info-dialog .Modal__Content {
            overflow:auto !important;
            max-height: calc(var(--window-height) - 100px)  !important;
        }

        #product-info-dialog button {
            top:7px;
            right:5px;
        }
        .isa_info {
            color: #0097ce;
            margin: 10px 0px;
            padding:12px;
            text-align: center;
        }
        .isa_info i {
            margin:10px 22px;
            font-size:2em;
            vertical-align:middle;
        }
        .loader {
            border: 5px solid #f3f3f3;
            border-radius: 50%;
            border-top: 5px solid #3498db;
            width: 60px;
            height: 60px;
            -webkit-animation: spin 2s linear infinite; /* Safari */
            animation: spin 2s linear infinite;
            margin:auto;
        }
        
        /* Safari */
        @-webkit-keyframes spin {
            0% { -webkit-transform: rotate(0deg); }
            100% { -webkit-transform: rotate(360deg); }
        }
        
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        #shopify-section-modal #product-info-dialog {
            display:block;
        }
        
        #product-info-dialog button {
            top:7px;
            right:5px;
        }
        .Modal--show-product-info h2 {
          font-weight: 500;
          letter-spacing: 0px;
          font-size: 1.7rem;
        }
    
        .Modal--show-product-info .ProductMeta__Title{
            margin-bottom: 0.1rem;            
            text-align:center;
        }
        .Modal--show-product-info .ProductMeta__Type{
            margin-bottom: 0.1rem;            
            text-align:center;
            font-size:1.2em;
            font-weight:normal;
        }
        .Modal--show-product-info{
            width: 1000px !important;
        }
    
        .Modal--show-product-info .ProductMeta__Description .Rte{
            max-width : none;   
        }
    
        .Modal--show-product-info .Round-button-color{
            border:1px solid #0097ce;
            opacity: 1;
        }
        
        .Modal--show-product-info .gettng-started-btn{
            cursor:pointer;
        }
{% endstylesheet %}
    
<script>
    
        $(function () {
            
            function getCarousel(){
                return $('.get-started-carousel').data('flickity');
            }

            $(document.body).on('click', '[aria-controls="product-info-dialog"]' ,function(ev){
                document.dispatchEvent(new CustomEvent('theme:loading:start'));
               $("#product-info-data").empty();
               $("#product-info-data").html('<div class="loader"></div><div class="isa_info"><i class="fa fa-info-circle"></i>{{section.settings.popup_loading_info_message}}</div>');
                if (ev.currentTarget.attributes['data-handle']) {
                    $.get('/products/' + ev.currentTarget.attributes['data-handle'].value + '?view=ajax', function (data) {
                        document.dispatchEvent(new CustomEvent('theme:loading:end'));
                        $("#product-info-data").html(data);
                        var element = document.querySelector('.product-info-slider');
                        
                        var flickitySlider = new Flickity(element, {
                            //options
                            "prevNextButtons": false,
                            "adaptiveHeight": true,
                            "dragThreshold": 8,
                            "arrowShape": { "x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25 },
                            cellAlign: 'center',
                            contain: true,
                            pageDots: true
                        });
                        
                        var sliderNav = document.querySelector('.product-info-nav');
                        if (sliderNav) {
                            var flickitySliderNav = new Flickity(sliderNav, {
                                contain: true,
                                "prevNextButtons": false,
                                "adaptiveHeight": true,
                                pageDots: false,
                                cellAlign: 'left',
                                // draggable : false,
                                "arrowShape": { "x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25 },
                                asNavFor: '.product-info-slider' // 'product-info-slider' //'.carousel-main',//: '.product-info-slider',
                            });
                        }

                        var flikityCarousel = getCarousel();
                        
                        if(flikityCarousel.selectedIndex === 0){
                            $('.gettng-started-btn').css('display','inline-block');
                            $('.getting-started-kit-buttons').css('display','none');
                        }else if(flikityCarousel.selectedIndex === 3){
                            $('.gettng-started-btn').css('display','none');
                            $('.getting-started-kit-buttons').css('display','none');
                        } else{
                            $('.gettng-started-btn').css('display','none');
                            $('.getting-started-kit-buttons').css('display','block');
                        }
                        
                        var addKit = $(ev.currentTarget).parent().parent().find('.button-add-to-kit-disabled')

                        var addOnly = $(ev.currentTarget).parent().parent().find('.add-only-kit-disabled')
                         
                        if(addKit && addKit.length > 0 ){
                            $("#product-info-data").find('.button-add-to-kit').addClass('button-add-to-kit-disabled').text('ADDED TO EVERY KIT');
                        } 

                        if(addOnly && addOnly.length > 0 ){
                            $("#product-info-data").find('.add-only-kit').addClass('add-only-kit-disabled').text('ADDED TO THIS KIT ONLY');
                        } 


                        if (BrowserDetection.isIOS()) {
                            var css = $('#product-info-dialog').css('display');
                            if (css == "block") {
                                css = "flex"
                            } else {
                                css = "block";
                            }
                            $('#product-info-dialog').css('display', css);
                        }

                    });
                }
            });

            $(document.body).on('click', '.gettng-started-btn' ,function(){
                document.querySelector('.Modal--show-product-info [data-action="close-modal"]').click();

                var flikityCarousel = getCarousel();
                
                if(flikityCarousel.selectedIndex == 0){
                    flikityCarousel.select(1);
                }

                $('.gettng-started-btn').css('display','none');
                var userOptions = Cookie.getCookie();
                var userSelectedSlide = userOptions["currentSlideSelected"];
                var hygeineType = userOptions['hygeineType'];
                var currentSlideSelected = userSelectedSlide + 1;
                FlickityCarousal.selectSlide(currentSlideSelected, true);
                userOptions["currentSlideSelected"] = currentSlideSelected;
                DomToggle.TogglePreviousNextButtons(currentSlideSelected, hygeineType);
                DomToggle.ShowHideCarousalForStep(currentSlideSelected);
                Cookie.setCookie(userOptions);
                // Animate to the top....
                $([document.documentElement, document.body]).animate({
                    scrollTop: 0
                }, 2000);
            });    

        });
    
</script>
{% schema %}
{
    "name": {
      "en": "Modal Popup Settings"
    },
    "class": "index-section index-section--flush",
    "settings":  [
        {
        
            "type": "text",
            "id": "popup_loading_info_message",
            "label": {
                "en": "Popup Content Loading Info"
            },
            "default": {
                "en": "More information coming right up!"
            }
              
        }
    ]
}
{% endschema %}