<div class="password-content">
  <span class="h2 password-content__title">{{ section.settings.header | escape }}</span>
</div>


{% schema %}
{
  "name": {
    "de": "Titel",
    "en": "Subscription Header",
    "es": "Encabezado",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "nl": "Koptekst",
    "pt-BR": "Cabeçalho",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "settings": [
   
    {
      "type": "text",
      "id": "header",
      "label": {
        "de": "Titel",
        "en": "Subscription Heading",
        "es": "Título",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "nl": "Kop",
        "pt-BR": "Título",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "de": "Demnächst",
        "en": "Coming Soon...",
        "es": "Próximamente",
        "fr": "En construction",
        "it": "Presto disponibile",
        "ja": "間もなく公開",
        "nl": "Binnenkort",
        "pt-BR": "Em breve",
        "zh-CN": "即将推出",
        "zh-TW": "即將推出"
      }
    }
  ]
}
{% endschema %}
