.menu, .menu ul
{
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    line-height: 2.5em;
}
.menu > li
{
    margin-left: 15px;
}
.menu > li:first
{
    margin-left:0px!important;
    }
.menu > li > a
{
    padding: 0px 10px;
    margin: 0;
    width: 100%;
    text-decoration: none;
    color: white;
    font-weight: bold;
	font-size: 1em;
	font-family: sans-serif;
}
div.box
{
    position: absolute;
    z-index: -1;
    background-color: #cccccc;
    left: 0;
    top: 0;
    border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}
li.pull-down
{
    padding-right:6px;
    }
li.pull-down > a
{
    background-image: url('../images/darrow.png');
    background-position: 96% 75%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
.menu a.selected
{
    background-color: #75CDD2;
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}
.menu li
{
    float: left;
    position: relative;
}

.menu ul
{
    /*position: absolute;*/
    display: none;
    /*width: 200px; */
    top: 2.5em; /*padding-right: 10px;*/
    background-color: #cccccc; /*-moz-opacity: .50;     filter: alpha(opacity=50);     opacity: .50;*/
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
}

.menu li ul a
{
    width: 180px;
    height: auto;
    float: left;
    color: black;
    padding: 0 10px;
}
.menu li ul li
{
	background: #cccccc;
	padding: 4px 0px 4px 8px;
	margin: 8px;
}
.menu ul ul
{
    top: auto;
}

.menu li ul ul
{
    left: 198px; /*margin: 0px 0 0 10px;*/
}
.menu-item-selected > a
{
    -moz-opacity: .50;
    filter: alpha(opacity=50);
    opacity: .50;
}

/* Menu bar changes */
.list-parent {
	width: auto;
	margin-top: 8px !important; 
}
div.list-data{
	color:black;
	clear: both;
	font-family: sans-serif;
	font-size: 1em;
}
div.list-data a { 
	line-height: 1.7em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
list-child  span{
	display: block;
}
body {
	background: black;
}
.list-child:hover {
	background: #b4b4b4;
}