<div class="page-width">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <!-- Flickity HTML init -->
            <div class="carousel">
                <div class="carousel-cell">{% section 'image-overlay' %}</div>
                <div class="carousel-cell">{% section 'step-one' %}</div>
                <div class="carousel-cell">{% section 'step-two' %}</div>
                <div class="carousel-cell">{% section 'step-three' %}</div>
            </div>
            {%section 'product-kit-collection' %}
        </div>
    </div>
</div>

<script>
    $(function() {
        var maxSlides = 3;
        var userSelectedSlide = 3;
        var userOptions = {
            currentSlideSelected : userSelectedSlide,
            hygeineType : 0,
            addons:[],
        };
        var addonProduct = {
            name:'',
            id:'',
            quantity: '',
            addType: '' // Subscription or One Time
        };

        var sliderIndex = userSelectedSlide - 1; // It is always current Slide number - 1 -> just like array index
        var $carousel = $('.carousel').flickity({
            'prevNextButtons': false,
            'pageDots': false,
            'select': sliderIndex
        });

       $('input[name=step-one-hygeine]').on('change', function() {
            userOptions['hygeineType'] = $(this).val();
            userSelectedSlide = userSelectedSlide + 1;
            $carousel.flickity('next');
        });

        $('#btn_email_to_shopifyregister_and_newsletter').click(function(){
            userSelectedSlide = userSelectedSlide + 1;
            $carousel.flickity('next');
            return false;
        });

        $('#skipStep2').click(function (){
            userSelectedSlide = userSelectedSlide + 1;
            $carousel.flickity('next');
            return false;
        });
    });
</script>
      