<section class="video-hero video-hero-{{ section.id }}"
         data-section-id="{{ section.id }}">
    <div class="hero hero--main">
      <div class="hero hero-main grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          {% section 'image-overlay' %}
          {%section 'product-kit-collection' %}
      </div>
  </div>
</section>
