{% section 'slideshow-community' %}
{% section 'menu-community' %}
  <div class="PageContent PageContent--narrow Rte">
  <h1 class="text-center">
  {{ page.title }}
  </h1>
    {{ page.content }}
  </div>