    <div class="row">
<div class="col-md-6">
  <h2>Collections</h2>
       <ul>
  {% for c in collections %}
  <li>
    <a href="{{ c.url }}">{{ c.title }}</a>
  </li>
  {% endfor %}
</ul> 
        </div>
          <div class="col-md-6">
            <h2>Products</h2>
            <ul>
  {% for product in collections.all.products %}
  <li>
    <a href="{{ product.url }}">{{ product.title }}</a>
  </li>
  {% endfor %}
</ul> 
          </div>
    </div>
<div class="col-md-6">
            <h2>Our Community</h2>
            <ul>
  
  <li>
    <a href="/pages/our-community">Our Community</a>
  </li>
 
</ul> 
          </div>
    </div>
<div class="col-md-6">
            <h2>Our Story</h2>
            <ul>
  
  <li>
    <a href="/pages/our-community">Our Story</a>
  </li>
 
</ul> 
          </div>
    </div>
<div class="col-md-6">
            <h2>Our Blog</h2>
            <ul>
  
  <li>
    <a href="/blogs/our-blog">Our Blog</a>
  </li>
 
</ul> 
          </div>
    </div>
<div class="col-md-6">
            <h2>Frequently Asked Questions</h2>
            <ul>
  
  <li>
    <a href="/pages/frequently-asked-questions">FAQ</a>
  </li>
 
</ul> 
          </div>
    </div>
<div class="col-md-6">
            <h2>Terms of Use</h2>
            <ul>
  
  <li>
    <a href="/pages/terms-of-use">Terms of Use</a>
  </li>
 
</ul> 
          </div>
    </div>