<style>
/* CAROUSAL flickity.css */

.carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}
.get-started-carousel .grid-cell-padding{
    padding-left: 0;
}
</style>

<div class="page-width">
  <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <!-- Flickity HTML init -->
         
          {% section 'back-carousal' %}
          <div class="carousel get-started-carousel">
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
                {% section 'image-overlay' %}
                {% section 'product-kit-collection' %}
                
            </div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'step-one' %}</div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">
                {% section 'step-two' %}
                {% section 'product-subscription-collection-template' %} 
              </div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'step-three' %}</div>

          </div>
          
      </div>
  </div>
  {%section 'modal' %}
  
</div>
<script>
  // Cookie Code
function checkCookie(cookieName) {
    var cookie = getCookie(cookieName);
    if (cookie == "") {
        return false;
    } else {
        return true;
    }
}

function setCookie(cookieName, cvalue) {
    var cookieContent = cookieName + "=" + JSON.stringify(cvalue) ; 
    document.cookie = cookieContent;    
}
  
function getCookie(cookieName) {
    var name = cookieName + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
}

function deleteCookie(cname) {
    var d = new Date(); //Create an date object
    d.setTime(d.getTime() - (1000*60*60*24)); //Set the time to the past. 1000 milliseonds = 1 second
    var expires = "expires=" + d.toGMTString(); //Compose the expirartion date
    window.document.cookie = cname+"="+"; "+expires;//Set the cookie with name and the expiration date
}

  $(function() {

      var cName = "testgmcscookie";
      var maxSlides = 3;
      var userSelectedSlide = 0;
      var currentSlideSelected = userSelectedSlide;
      var userOptions = {
          currentSlideSelected : userSelectedSlide,
          hygeineType : 0,
          addons:[],
      };
      var addonProduct = {
          name:'',
          id:'',
          quantity: '',
          addType: '' // Subscription or One Time
      };

      var isCookiePresent = checkCookie(cName);
      if(true == isCookiePresent) {
          // get user selection for ALL Steps
          userOptions = JSON.parse(getCookie(cName));
          userSelectedSlide = userOptions["currentSlideSelected"];
          hygeineType = userOptions["hygeineType"];
          if(hygeineType !== 0){
            // Mark user selected hygeine option
            $("input[name=step-one-hygeine]").val([hygeineType]);
          } else {
            $("#go-next-step").attr('disabled', 'disabled');  
          }
      } else {
          setCookie(cName, userOptions);
      }
      
      // Dont show Prev - Next on STEP 0 and STEP 3 i.e. Cart Page as we have everything to edit there.
      if(userSelectedSlide < 1 || userSelectedSlide > 3 ) {
          $("#go-previous-step").css ('display', 'none');
          $("#go-next-step").css ('display', 'none');          
      } else {
          $("#go-previous-step").css ('display', 'block');
          if(userSelectedSlide == 3) {
            $("#go-next-step").css ('display', 'none');      
          } else {
            $("#go-next-step").css ('display', 'block');  
          }
      }
      
      var $carousel = $('.get-started-carousel').flickity({
          'selectedAttraction': 0.01,
          'friction': 0.15,
          'prevNextButtons': false,
          'pageDots': false,
          'draggable': false,
          'fade': true,
          'adaptiveHeight': true,
          'resize': true
      });  

      // var html = $('#collection-filter-drawer').clone();
      // $("body").append(html)
      // $('#collection-filter-drawer').remove();

        // Go to user selected Slide - without animation
      $carousel.flickity( 'select', userSelectedSlide, false, true );

      $(".previous").on('click', function() {
        userOptions = JSON.parse(getCookie(cName));
        userSelectedSlide = userOptions["currentSlideSelected"];
        userSelectedSlide = userSelectedSlide - 1;
        userOptions["currentSlideSelected"] = userSelectedSlide;
        if(userSelectedSlide < 1 || userSelectedSlide > 3 ) {
            $("#go-previous-step").css ('display', 'none');
            $("#go-next-step").css ('display', 'none');          
        } else {
          if(userSelectedSlide == 3) {
            $("#go-next-step").css ('display', 'none');      
          } else {
            $("#go-next-step").css ('display', 'block');  
          }
        }
        setCookie(cName, userOptions);
        $carousel.flickity('previous', false, false);
      });

      $(".next").on('click', function() {
        userOptions = JSON.parse(getCookie(cName));
        userSelectedSlide = userOptions["currentSlideSelected"];
        var hygeineType = userOptions['hygeineType'];
        if(userSelectedSlide == 1 && hygeineType == 0) {
          // Do NOT proceed till user selects an option
          return false;
        }

        userSelectedSlide = userSelectedSlide + 1;
        userOptions["currentSlideSelected"] = userSelectedSlide;
        if(userSelectedSlide == 3) {
            $("#go-next-step").css ('display', 'none');      
          } else {
            $("#go-next-step").css ('display', 'block');  
          }
        setCookie(cName, userOptions);
        $carousel.flickity('next', false, false);
      });    

     $('input[name=step-one-hygeine]').on('change', function() {
          $("#go-next-step").removeAttr('disabled');
          userOptions = JSON.parse(getCookie(cName));
          userOptions['hygeineType'] = $(this).val();

          userSelectedSlide = userOptions["currentSlideSelected"];
          currentSlideSelected = userSelectedSlide + 1;
          userOptions["currentSlideSelected"] = currentSlideSelected;
          $carousel.flickity('next', false, false);
          setCookie(cName, userOptions);
      });

      $('#btn_email_to_shopifyregister_and_newsletter').click(function() {
          userOptions = JSON.parse(getCookie(cName));
          userSelectedSlide = userOptions["currentSlideSelected"];
          var hygeineType =  userOptions['hygeineType'];
          currentSlideSelected = userSelectedSlide + 1;
          if(currentSlideSelected == 1 && hygeineType == 0) {
            // Do NOT proceed till user selects an option
            $("#go-next-step").attr('disabled', 'disabled'); 
          }
          $carousel.flickity('next', false, false);
          userOptions["currentSlideSelected"] = currentSlideSelected;
          setCookie(cName, userOptions);
          $("#go-previous-step").css ('display', 'block');
          $("#go-next-step").css ('display', 'block');  
          return false;
      });

      $('#skipStep2').click(function (){
        userOptions = JSON.parse(getCookie(cName));
        userSelectedSlide = userOptions["currentSlideSelected"];
        userSelectedSlide = userSelectedSlide + 1;

        userOptions["currentSlideSelected"] = userSelectedSlide;
        setCookie(cName, userOptions);
        $carousel.flickity('next', false, false);
        if(userSelectedSlide == 3) {
            $("#go-next-step").css ('display', 'none');      
          } else {
            $("#go-next-step").css ('display', 'block');  
          }
        return false;
      });

      $('#viewAllProd').on('click', function () {

      $.get('/collections/subscription-product?view=ajax', function (data) {

        $("#viewAllProductListing").html(data);
        //$('.js .ProductList--grid .ProductItem').css('visibility', 'visible');
        $carousel.flickity('reloadCells')

      });
    });

    // $("[data-drawer-id='collection-filter-drawer']").on('click', function () {
    //   $carousel.flickity('reloadCells')
    // });
  });
</script>
    <style>
      .js .ProductList--grid .ProductItem {
          visibility: visible !important;
      }
      
    </style>