<style>
/* CAROUSAL flickity.css */

.wrapper-Icon--undo-icon-v2 {
  background-color: #fff;
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  padding-top: 10px;
  margin-left:20px;
}

.Icon--undo-icon-v2 {
  color: #0097ce;
}
.carousel-cell {
  width: 100%;
  margin-right: 10px;
  border-radius: 5px;
}
.get-started-carousel .grid-cell-padding{
    padding-left: 0;
}
</style>
<div class="page-width">
  <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
          <!-- Flickity HTML init -->
          <div class="carousel get-started-carousel">   
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'image-overlay' %}</div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'step-one' %}</div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'step-two' %}</div>
              <div class="grid-cell-padding Grid__Cell 1/1--phone 1/1--tablet 1/1--lap-and-up">{% section 'step-three' %}</div>
          </div>
         
      </div>
  </div>
  <div class="grid">
  {%section 'product-kit-collection' %}
  </div>
  {%section 'modal' %}
</div>

<script>
  $(function() {
      var maxSlides = 3;
      var userSelectedSlide = 3;
      var userOptions = {
          currentSlideSelected : userSelectedSlide,
          hygeineType : 0,
          addons:[],
      };
      var addonProduct = {
          name:'',
          id:'',
          quantity: '',
          addType: '' // Subscription or One Time
      };

      var sliderIndex = userSelectedSlide - 1; // It is always current Slide number - 1 -> just like array index
      var $carousel = $('.carousel').flickity({
          'prevNextButtons': false,
          'pageDots': false,
          'select': sliderIndex,
          draggable: false,
          adaptiveHeight: true
      });

     $('input[name=step-one-hygeine]').on('change', function() {
          userOptions['hygeineType'] = $(this).val();
          userSelectedSlide = userSelectedSlide + 1;
          $carousel.flickity('next');
      });

      $('#btn_email_to_shopifyregister_and_newsletter').click(function(){
          userSelectedSlide = userSelectedSlide + 1;
          $carousel.flickity('next');
          return false;
      });

      $('#skipStep2').click(function (){
          userSelectedSlide = userSelectedSlide + 1;
          $carousel.flickity('next');
          return false;
      });
  });
</script>
    